<!DOCTYPE html>
<html>
<head>
 <meta charset="utf-8">
 <meta name="viewport" content="width=device-width, initial-scale=1">
 <link rel="stylesheet" href="http:\\maxcdn.bootstrapcdn.com\bootstrap\3.3.6\css\bootstrap.min.css">
</head>
<body>
 <div class="container"> 
 	<div class="row">
		<h1 style="text-align:center"><b>Sentilysis</b></h1>
	</div>
	<div class="row" style="border-style:solid ;height:300px;text-align:center">
		<p style="margin-top:100px">Select a file to upload:</p>
		<form action="/cgi-bin/path1.py" method="post" accept-charset="utf-8"
      enctype="multipart/form-data" >
			<input type="file" id="myFile" name="demo" style="margin-left:461px" >
			<input type="submit" value="Analyse" style="margin-top:20px">
		</form>
	</div>
 </div>
</body>
</html>